@model CoursesDetailsViewModel
@{
    ViewData["Title"] = $"{Model.Course.Name} Course";
}

<h2>@ViewData["Title"]</h2>

<h4>@Model.Course.StudentsCount students enrolled</h4>

<h5>@Model.Course.StartDate.ToShortDateString() - @Model.Course.EndDate.ToShortDateString()</h5>

<h4>Trainer name: @Model.Course.Trainer</h4>

@if (User.Identity.IsAuthenticated)
{
    if (Model.Course.StartDate > DateTime.UtcNow)
    {
        if (Model.UserIsEnrolledCourse && Model.Course.EndDate.Date == DateTime.UtcNow.AddDays(1).Date)
        {
            <form asp-action="SubmitExam" asp-route-courseId="@Model.Course.Id" method="post" enctype="multipart/form-data">
                <div asp-validation-summary="All"></div>
                <br />
                <h4>Upload your exam (only .zip files allowed):</h4>
                <br />
                <input type="file" name="exam" accept=".zip" />
                <br />
                <input type="submit" class="btn btn-primary" value="Upload Exam" />
            </form>
            <br />
        }

        if (Model.UserIsEnrolledCourse)
        {
            <form asp-action="SignOut" asp-route-courseId="@Model.Course.Id" method="post">
                <input type="submit" class="btn btn-primary" value="Sign Out" />
            </form>
        }
        else
        {
            <form asp-action="SignUp" asp-route-courseId="@Model.Course.Id" method="post">
                <input type="submit" class="btn btn-primary" value="Sign Up" />
            </form>
        }
    }
    else
    {
        if (Model.Course.EndDate < DateTime.UtcNow)
        {
            <span>This course has already finished.</span>
        }
        else
        {
            <span>This course has already started.</span>
        }
    }
}
else
{
    <span>To sig up for this course, please <a asp-controller="Account" asp-action="Login" asp-route-returnUrl="@Context.Request.Path">login</a> into your account.</span>
}

<h3>@Model.Course.Description</h3>